<div class="text-center">
  <h1> All Documents</h1>
</div>
<div class="container mt-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- <th>ID</th> -->
          <th>Name</th>
          <th>PriorityName</th>
          <th>File Path</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        

          <tr   *ngFor="let item of documents" >
            
           
            <td id="{{item.id}}"><a routerLink="/document/{{item.id}}">{{ item.name }} </a></td>
            <td class="custom-cell"><a routerLink="/document/{{item.id}}">{{ item.priorityName }} </a></td>
            <td class="custom-cell"><a routerLink="/document/{{item.id}}">{{ item.file_Path }} </a></td>
            <td><span class=" btn btn-outline-primary me-2" ><a routerLink="/documentEdit/{{item.id}}"> edit</a></span> 
              <span class=" btn btn-danger me-2" (click)="delete( item.id )">delete</span>
              <span class="btn btn-success" (click)="download(item.priorityName)">dowmload</span>
            </td>
              <!-- <td><a routerLink="/document/{{item.id}}">{{ item.id }} </a></td> -->
        </tr>
      
      </tbody>
    </table>
    <div> <span class="btn btn-outline-success text-danger"><a routerLink="/Add/{{userId}}">
       Add document </a></span></div>
  </div>